<div class="tile-view">
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="tile-view example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let entry of selectedImages"
      cdkDragData="{{ entry.id }}"
      cdkDrag
      class="example-box"
    >
      <img src="{{ entry.picture }}" alt="..." height="100" width="100" />
    </div>
  </div>
  <div class="btn-container">
    <button (click)='saveOrder()' *ngIf="selectedImages.length>0" type="button" class="btn btn-outline-success save">
      Save changes
    </button>
  </div>
</div>
