.example-box {
  cursor: move;
  margin: 10px;
}
.tile-view {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 11px;
  display: flex;
  max-width: 1250px;
  flex-wrap: wrap;
  & .example-list {
    border: none;
    flex-wrap: nowrap;
  }
  & .btn-container {
    width: 100%;
    text-align: end;
  }
}
