<div class="example-box selector-tile" *ngFor="let entry of imageArray">
  <img src="{{ entry.picture }}" alt="..." height="200" width="200" />
  <div class="switch-view">
    <label class="switch">
      <input
        (change)="changeSelectedPhoto(entry, $event)"
        type="checkbox"
        name=""
        id=""
        [checked]="entry.isActive"
        class="form-check-input"
      />
      <span class="slider round"></span>
    </label>
  </div>
</div>
