
<div class="container wrap">
  <div class="row ">
    <h2>Your top 9 images</h2>
      <app-selected-image-view class="selected-view"
        [selectedImages]="selectedImages"
        (imageOrder)="modifyImageOrder($event)"
      ></app-selected-image-view>
  </div>
  <div class="row">
    <app-photo-selector *ngIf='!imageOrderLoading' class="selection-view"
    (outputImageArray)="modifyImageSelection($event)"
    [imageOrder]="imageOrder"
  ></app-photo-selector>
  </div>
</div>

