.wrap {
    margin: 5px;
}
.row {
    width: 99vw;
}
.selected-view {
    min-height: 40vh;
    display: flex;
    overflow: scroll;
}
.selection-view {
    margin: auto;
    width: 75%;
    border: 3px solid green;
    padding: 10px;
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: scroll;
}
h2 {
    text-align: center;
    padding-top: 50px;
}
